
.spayk-section-two {
    margin-bottom: 15%;
}

.pik-2 {
    padding-bottom: 12%;
    margin-right: 57px;
    margin-left: -29px;
    margin-top: 59px;
}

.big-spayk {
    background-image: url(./../../img/Blob-2.png);
    background-repeat: no-repeat;
    width: 100%;

}


.boo h2 {
    color: #5FD788;
    font-size: 46px;
    margin-right: -40px;
    max-width: 125%;
    margin-top: 203px;
}

.boo p {
    max-width: 92%;
    line-height: 28px;
    margin: 0 19px;
    margin-top: 31px;
}

.boo a {
    text-decoration: none;
    color: white;
    background-color: #5FD788;
    border: 1px solid #5FD788;
    border-radius: 8px;
    padding: 8px 9px;
    margin: 17px 198px;
    word-spacing: 1px;
    width: 51%;
    text-align: center;
    margin-top: 10%;
    
}

.spayk {
    display: flex;
}
